
    <tr class="active">
      <td><%= @post.comments.index(comment)+1 %></td>
      <td><%= comment.author %></td>
      <td><%= comment.body %></td>
      <td><%= comment.created_at.strftime("%b %d, %Y") %></td>
      <td><%= button_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete, :class => "btn btn-danger" %></td>
    </tr>
