<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :puissant %><br>
    <%= f.text_field :puissant %>
  </div>
  <div class="field">
    <%= f.label :sexe %><br>
    <%= f.text_field :sexe %>
  </div>
  <div class="field">
    <%= f.label :sexy %><br>
    <%= f.check_box :sexy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
