<p id="notice"><%= notice %></p>

<p>
  <strong>Puissant:</strong>
  <%= @test.puissant %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @test.sexe %>
</p>

<p>
  <strong>Sexy:</strong>
  <%= @test.sexy %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
